body {
    margin: 0;
    background-color: #EA4235;
}

.container {
    display: flex;
    justify-content: space-around;
}
.titlehome{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
    
    margin: 0 auto;
}
.titleguest{
    position: absolute;
    width: 149px;
    height: 36px;
    left: 337px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
    
    margin: 0 auto;
}
.home{
    border: 2 2 2 2;
    border-color: #080001;
}
.guest{
    border: 2 2 2 2;
    border-color: #080001;
}
h1 {
    text-align: center;
    color: red;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 90px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    
}
.background{
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;

    background: #080001;
    border-radius: 5px;
}
.background2{
    position: absolute;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 125px;

    background: #080001;
    border-radius: 5px;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

.rectangle4{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
}
.rectangle5{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
}
.rectangle6{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
}
.rectangle42{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 337px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
}
.rectangle52{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 391px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
}
.rectangle62{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 447px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
}
.plus1{
    position: absolute;
    width: 30px;
    height: 25.77px;
    left: auto;
    right: auto;
    top: 10px;
    margin: 0%;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
}
.plus2{
    position: absolute;
    width: 30px;
    height: 25.77px;
    left: auto;
    top: 10px;
    margin: 0%;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
}
.plus3{
    position: absolute;
    width: 30px;
    height: 25.77px;
    left: auto;
    top: 10px;
    margin: 0%;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
}